html {
  height: 100%;
  width: 100%;
}

h1{color:#a2c4cd;
  font-family: "Optima", sans-serif;;}
body {
  background-color: #0f495c;
}

p{color: white;}

p2{color: #a2c4cd;
font-family: "Optima", sans-serif;;}
ul{color: white}

p4{color:white}

p5{color:#a2c4cd;
font-family: "Optima", sans-serif;}

p6{color:#a2c4cd;
font-family: "Optima", sans-serif;}
a{color:white}