html {
  height: 100%;
  width: 100%;
}
h1{color:#7a0014;
   font-family: "Optima", sans-serif;;}
body {
  background-color:#ffe5f6;
}

p{color:black}
p2{color:#7a0014;
font-family: "Optima", sans-serif;}
p3{color:#7a0014;
font-family: "Optima", sans-serif;}
p4{color:#7a0014;
font-family: "Optima", sans-serif;}
p5{color:#7a0014;
font-family: "Optima", sans-serif;}
p6{color:#7a0014;
font-family: "Optima", sans-serif;}